{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bis_item.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bis_item.js') }}"></script>
</head>
<div>
    <h3>Add obtained item</h3>
    <hr>
    
</div>
<div>
    <h3>List of obtained items</h3>
    <table border=1 id="myTable">
        <tr class='tr-head'>
            <td>Item</td>
        </tr>
        {% for row in result %}
        <tr>
            <td><a href="http://classic.wowhead.com/item={{ row['ID'] }}/">Link</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}