.btn-paladin {
    background-color: #F58CBA;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 16px 20px;
}
.btn-hunter {
    background-color: #ABD473;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 16px 20px;
}

.btn:hover {
    opacity: 1;
}