{% extends "layout.html" %}
{% block title %}Best In Slot Home{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bis_button.css') }}">
</head>
<p>Choose the Class and Specialization to return a list of Best in Slot associated to it.</p>
<h3>Paladin</h3>
<hr>
<form action="/bis-result" method="POST">
    <input type="submit" class="btn-paladin" name="holy_paladin" value="Holy" />
    <input type="submit" class="btn-paladin" name="ret_paladin" value="Retribution" />
    <input type="submit" class="btn-paladin" name="prot_paladin" value="Protection" />
</form>
<h3>Hunter</h3>
<hr>
<form action="/bis-result" method="POST">
    <input type="submit" class="btn-hunter" name="hunter_dps" value="DPS" />
</form>
{% endblock %}